<!-- Cette partial HTML n'a rien de particulier en Angular, aucun traitement donc pas besoin de controlleur  -->
<div>
  <div class="mmlogo">
    <div class="grid-24 u-align-center no-gutter">
        <img class="marty" src="images/angular.png" width="150">
  </div>
</div>
    <div class="grid-24 u-align-center">
        <h3 class="title-paint">TP Angular</h3>
        <p>
          Le but de cet exercice est de prendre en photo un objet, un livre, un animal, ou encore un visage.
        </p>
        <p>
          Grâce à l'API Cloud Vision de Google, nous allons décrypter le contenu de la photo envoyée et présenter les résultats dynamiquement.
          </p>
          <h3 class="title-paint">Votre mission</h3>
          <p>
            A partir des connaissances acquises durant la formation et en effectuant les recherches adéquates, vous devrez rendre cette application traduisible.<br> <br>
            Vous devrez implémenter l'api Google Cloud Translation API : https://cloud.google.com/translate/docs/ <br> <br>
            Le but est d'envoyer les réponses de l'api Google Vision à la nouvelle api de traduction.<br>
            Il faudra ensuite disposer les résultats obtenus en français.

          </p>
      </div>
      <div class="credits">Adrien Cerdan pour Aristee Formation</div>
</div>
